.search{
  display: flex;
  align-items:center;
  gap:1.5rem;

  &Text{
    display: flex;
    gap:0.375rem;

    width: 300px;

    background: #FFFFFF;
    padding:17px 1.25rem;
    border-radius: 5px;

    &Input{
      background: none;

      &::placeholder{
        font-size: 14px;
      }
    }
  }
}