.navItem{
  display: flex;
  justify-content: center;

  border-radius: var(--radius-border-radius);
  cursor: pointer;
  padding: 10px 2rem;
  color: #172139;
  background: white;

  &Active{
    background: var(--color-dark);
    color: white;
  }
  &:nth-child(5){
    width: 132px;
  }
  &:nth-child(6){
     width: 132px;
  }
  &:nth-child(7){
      width: 132px;
  }
}